
body{ /*todo o site. adiciona o background ao site*/
    margin: 0;
    padding: 0;
    background: url(imagens/background.jpg) top left;
    background-size: cover;
}

#tela-1{ /*div ao centro do site onde econtra-se o formulario*/
    width: 300px;
    height: 300px;
    background-color: rgba(17, 17, 17, 0.671);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 7px;
   

}


#area-peso{ /*div que cotem o input do peso e o label*/
margin-top: 30px;
}
#area-altura{ /*div que contem o input da altura e label*/
margin-top: 30px;
}

#tela-1 input { /*formatações para todos os inputs da primeira tela*/
width: 72.8%;
margin: 0 10%;
height: 30px;
border-radius: 5px;
border: none;
padding-left: 20px ;

}

#input-peso{ /*Formatação do input onde será inserido o peso*/
    background: white url(imagens/balanca.png)  no-repeat;
    background-size: 18px;
    background-position: 91%;
    }
#input-altura{ /*formatação do input onde será inserido a altura*/
    background: white url(imagens/fita.png)  no-repeat;
    background-size: 25px;
    background-position: 91%;
    }


#tela-1 input:focus{ /*quando qualquer input receber foco*/
outline: rgb(97, 87, 87) 2px solid;

}


#tela-1 label{ /*formatação para os titulos dos inputs*/
font-size: 1.5em;
margin: 0 10%;
color: white;
}

#btn-calcular{ /*formatação para o botão de calcular*/
border: none;
border-radius: 6px;
margin-top: 30px;
margin-left: 10%;
width: 80%;
height: 40px;
font-size: 1.1em;
font-weight: bold;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: rgb(71, 148, 81);
color: rgb(0, 0, 0);
cursor: pointer;
}

#btn-calcular:hover { /*formatação para quando passar o mouse no botão de calcular*/
    background-color: rgb(34, 187, 29);
    box-shadow: 0px 0px 5px 3px rgb(109, 153, 96);
    color: rgb(0, 0, 0);
}


/*Formatação para a tela de resultado*/
.display-none{ /*aplicado à segunda tela (tela de resultado)*/
    display: none;
}

.display-ativo{ /*tbm é aplicado a segunda tela, mas somente quando o botão calcular é pressionado*/
    text-align: center;
    color: white;
    width: 400px;
    height: 400px;
    background-color: rgba(17, 17, 17, 0.651);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 7px;
}

#tela-2 #resultado{ /*onde informa a situação da pessoa*/
    font-size: 3em;
    text-shadow: 1px 2px 2px grey;
}


#btn-resultado{ /*botão para voltar*/
    width: 150px;
    height: 40px;
    border-radius: 3px;    
    margin: auto;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(71, 148, 81);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#btn-resultado:hover{
    background-color: rgb(34, 187, 29);
    box-shadow: 0px 0px 5px 3px white;
    color: rgb(0, 0, 0);
}

.resultados{
    height: 320px;
}



/*Reponsvidade*/
@media (max-width: 575.98px) { 
    body{
        background: url(imagens/background2.jpg);
        background-size: cover;
      }
  }
  /*Small devices (landscape phones, 576px e maiores)*/
  @media (min-width: 576px) and (max-width: 767.98px) { 
    body{
        background: url(imagens/background2.jpg);
        background-size: cover;
      }
  }

  /*Medium devices (tablets, 768px e maiores)*/
  @media (min-width: 768px) and (max-width: 991.98px) { 
    body{
      background: url(imagens/background2.jpg);
      background-size: cover;
    }
   }
  /*Large devices (desktops, 992px e maiores)*/
  @media (min-width: 992px) and (max-width: 1199.98px) { 
   
   }

  /*Extra large devices (large desktops, 1200px  e maiores)*/
  @media (min-width: 1200px) {
   
  }